//colors
$white: #fff;
$black:  #000;
$darkgrey: #0d0d0d;
$grey: #666;
$lightgrey: #323232;
$network_grey: #b3b3b3;
$why_grey: #f2f5f4;
$green: #0f5a47;
$lightgreen: #dde3bd;
$blue: #61c4d9;
$darkblue: #00accf;
$logo_blue: #b0f7ff;
$lightblue:#f8faf9;

$z-fixed-menu: 100;

// resolutions
$phones: 480px;
$tablets: 768px;
$ipadpro: 1024px;

//normalize
@import "./layout/normalize.scss";

//media
@import "./layout/media.scss";

// setups
@import "./layout/base.scss";
@import "./layout/fonts.scss";

// blocks
@import "./blocks/header.scss";
@import "./blocks/pagination.scss";
@import "./blocks/phone.scss";
@import "./blocks/button.scss";
@import "./blocks/first-screen.scss";
@import "./blocks/why.scss";
@import "./blocks/slider.scss";
@import "./blocks/team.scss";
@import "./blocks/menu.scss";
@import "./blocks/reviews.scss";
@import "./blocks/video.scss";
@import "./blocks/form.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/popup.scss";

// slick
@import "./slick/slick-theme.scss";
@import "./slick/slick.scss";

// fullpage

@import "./fullpage/fullpage.scss";