.phone {
  font-style: normal;
  &__number {
    font-size: rem(26);
    font-weight: 400;
  }
  &__opening-hours {
    display: block;
    text-align: right;
    font-size: rem(13);
    font-weight: 400;
    text-decoration: underline;
  }
}
