// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Colors

$white: #ffffff;
$snowy: #f4f5f5;
$black: #000000;
$graphite:#1a1b1e;
$grey: #666666;
$light-grey: #9a9a9a;
$dark-grey: #303030;
$bg: #001821;
$red: #f5170e;
$turquoise: #b9eae4;
$pearl-dark-gray: #818181;