include ../../components/partners/partners

-
  var partners = [
    {href: 'https://www.pobeda.aero/ru', src: '../../../img/icons/partners/pobeda.png', alt: 'логотип авиакомпании победа'},
    {href: 'https://www.s7.ru/', src: '../../../img/icons/partners/s7.png', alt: 'логотип авиакомпании s seven'},
    {href: 'https://sletat.ru/', src: '../../../img/icons/partners/lets-fly.png', alt: 'логотип слетать ру'},
    {href: 'https://www.lufthansa.com', src: '../../../img/icons/partners/lufthansa.png', alt: 'логотип авиакомпании люфтганза'},
    {href: 'https://www.airbaltic.com', src: '../../../img/icons/partners/airbaltic.png', alt: 'логотип авиакомпании эйрбалтик'},
    {href: 'https://www.flypgs.com/ru', src: '../../../img/icons/partners/pegasus.png', alt: 'логотип компании пегас'},
    {href: 'https://www.uralairlines.ru/', src: '../../../img/icons/partners/ural.png', alt: 'логотип авиакомпании уральские авиалинии'},
    {href: 'https://pegast.ru/', src: '../../../img/icons/partners/pegas.png', alt: 'логотип авиакомпании пегас туристик'}
  ]

section.inner-section.inner-section--bg--grey
  .container
    h2.inner-section__title Партнеры
    +partners