.inner-section {
  position: relative;
  background-color: $white;
  color: $black;
  &--padding {
    padding-top: rem(50);
    padding-bottom: rem(50);
    @include media-tablet {
      padding-top: rem(90);
      padding-bottom: rem(115);
    }
  }
  &--bg--grey {
    background-color: $snowy;
  }
  &--bg--pink {
    background-image: url('../img/bg/middleline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: rem(360);
    display: flex;
    align-items: center;
  }
  &--bg--decor {
    &::after {
      content: url('../img/decor/couple.png');
      height: rem(300);
      position: absolute;
      bottom: -2%;
      right: -50%;
      background-size: cover;
      @include media-laptop {
        right: 20%;
      }
      @include bg-2x {
        background-image: url('../img/decor/2x/couple@2x.png');
      }
      @include bg-3x {
        background-image: url('../img/decor/3x/couple@3x.png');
      }
    }
  }
  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: rem(30);
    text-align: center;
    @include font-source (rem(48), 700);
    @include media-laptop {
      margin-bottom: rem(63);
      text-align: left;
    }
    &--width {
      max-width: 50%;
      font-size: rem(36);
      @include media-tablet {
        font-size: rem(48);
      }
    }
    &--color--white {
      color: $white;
      @include media-tablet {
        margin-bottom: 0;
      }
    }
  }
}