-
  var socials = [
    {icon:'socials__link--telegram', href: 'https://telegram.org'},
    {icon:'socials__link--vk', href: 'https://vk.com'},
    {icon:'socials__link--facebook', href: 'https://facebook.com'},
    {icon:'socials__link--instagram', href: 'https://instagram.com'}
  ]

mixin socials
  ul.socials__list
    each social in socials
      li.socials__item
        a.socials__link(class= social.icon href = social.href)