.header {
  height: rem(100);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__menu {
    margin-right: auto;
  }
  &__logo {
    margin-right: rem(66);
  }
}
