.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &--reviews {
            object-position: 0 10px;
            transform: scale(1.7);
        }
    } 
}