.header {
    position: absolute;
    width: 100%;
    z-index: 1;
    &__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
}
