.heading {
    position: relative;

    &__name {
        width: 400px;
        line-height: 60px;
        font-size: 4.5rem;
        font-weight: 800;
    }
    
    &__desc {
        position: absolute;
        bottom: 0;
        left: -45%;
        width: 160px;
        text-align: right;     
        opacity: 0.4;
        font-size: 1.1rem;
        font-weight: 400;
        z-index: 1;
    }
}