.heading {
    position: relative;
    display: flex;
    &__name {
        width: 400px;
        line-height: 60px;
        font-size: 4.5rem;
        font-weight: 800;
     }
     &__desc {
        margin-right: 70px;
        line-height: 30px;
        text-align: right;     
        opacity: 0.5;
        font-size: 1.1rem;
        font-weight: 400;   
    }
}