.header {
    position: absolute;
    width: 100%;
    z-index: 1;
    
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }
}
