.hero {
    height: 100vh;
    min-height: 650px;
    &__container {
        height: 100%;
        position: relative;
    }
    
    &__scroll {
        position: absolute;
        bottom: 12%;
    }   
}




