.nav {
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 60px;
        font-size: 16px;
        font-weight: 400;
        &:last-child {
            margin-right: 0;
        }   
    }
    &__link {
        padding: 10px 0;
        &:hover {
            color: $content-color;
        }
    }
}