.paralax {
    &__train {
        position: absolute;
        top: 490px;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    &__mountains {
        position: absolute;
        width: 100%;
        height: auto;
    }
}