.paralax {
    height: 100%;

    &__sky {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
    }

    &__mountains {
        position: absolute;
        top: 18%;
        width: 100%;
        height: auto;
    }

    &__train {
        position: absolute;
        top: 25%;
        width: 100%;
        height: auto;
    }

    &__grass {
        position: absolute;
        top: 36%;
        width: 100%;
        height: auto; 
    }
}