.paralax {
    &__train {
        position: absolute;
        top: 29%;
        width: 100%;
        height: auto;
    }
    &__mountains {
        position: absolute;
        width: 100%;
        height: auto;
    }
    &__grass {
        position: absolute;
        top: 39%;
        width: 100%;
        height: auto;
    }
    &__rect {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
}