.railway {
    height: 1800px;
    background-image: url("../images/content/railway/background-railway.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        padding: 137px 0 137px 0;
    }
    
}