.socials {
    display: flex;
    &__item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__icon {
        width: 23px;
        height: 23px;
        fill: #716b66;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        &:hover {
            .socials__icon {
                fill: $content-color;
            }
        }
    }
}