.user {
    &__avatar {
        width: 200px;
        height: 200px;
        margin-left: 80px; 
        margin-bottom: 70px; 
    }
    &__data-cell {
        padding: 0px 82px 15px 0;
        font-size: 16px;
        font-weight: 400;
        &:nth-child(odd) {
            opacity: 0.15;
        } 
    }
}