include ../../components/serviceCard/serviceCard
include ../../components/paginator/paginator

section.services
  .container.services__container
    ul.services__list
      each card in serviceCards
        li.services__item
          +serviceCard(card.src, card.alt, card.title, card.href)
    +paginator(7, 1, 'color--theme--black')


