include ../../components/serviceCard/serviceCard
include ../../components/paginator/paginator

-
  var serviceCards = [
    {src: '../../../img/content/service/waterfall.jpg', alt: 'водопад янг-бей', title: 'Водопад Янг-бей', href: '#'},
    {src: '../../../img/content/service/monkeys.jpg', alt: 'остров обезьян', title: 'Остров Обезьян', href: '#'}
  ]

section.services
  .container.services__container
    ul.services__list
      each card in serviceCards
        li.services__item
          +serviceCard(card.src, card.alt, card.title, card.href)
    +paginator(7, 1, 'color--theme--black')


