.hero {
  height: 80vh;
  @include media-tablet {
    height: 95vh;
  }
  @include media-laptop {
    margin-bottom: rem(128);
    height: rem(548);
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: rem(15);
    height: 100%;
    @include media-tablet {
      justify-content: center;
      padding-top: 0;
    }
  }
  &__title {
    width: rem(304);
    margin-bottom: rem(28);
    @include font-source (rem(36), 700, $lh: 1.2);
    @include media-tablet {
      width: rem(520);
      font-size: rem(72);
    }
  }
  &__info {
    margin-bottom: rem(35);
    @include font-source (rem(18), 400);
  }
}
