.tours {
  margin-bottom: rem(30);
  @include media-tablet {
    margin-bottom: rem(40);
  }
  @include media-laptop {
    margin-bottom: rem(110);
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-tablet {
      flex-wrap: wrap;
      flex-direction: row;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &__item {
    margin-bottom: rem(30);
    @include media-tablet {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  &__title {
    position: relative;
    margin-bottom: rem(50);
    width: rem(300);
    &::after {
      content: '';
      position: absolute;
      background-image: url('../img/icons/flame.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: rem(21);
      height: rem(28);
      top: 21%;
      right: 0;
    }
  }
}


