.tours {
  margin-bottom: rem(30);
  @include media-tablet {
    margin-bottom: rem(40);
  }
  @include media-laptop {
    margin-bottom: rem(110);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin-bottom: rem(30);
    margin-right: rem(15);
    margin-left: rem(15);
    &:last-child {
      margin-bottom: 0;
    }
    @include media-laptop {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__title {
    position: relative;
    margin-bottom: rem(50);
    width: rem(300);
    &::after {
      content: '';
      position: absolute;
      background-image: url('../../../img/icons/flame.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: rem(21);
      height: rem(28);
      top: 21%;
      right: 0;
    }
  }
}


