include ../../components/tourCard/tourCard

section.tours
  .container
    h2.title.tours__title Горящие туры
    ul.tours__list
      each card in tourCards
        li.tours__item
          +tourCard(card.src, card.alt, card.title, card.duration, card.feed, card.description, card.href)