include ../../components/btn/btn.pug

section.about
  .container.about__container
    .about__description
      h3.title.about__title О нас
      .about__text
        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
      +btn('подробнее', '#')(class="btn--color--red")