.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: rem(-20);
  &__item {
    @include media-tablet {
      margin-left: rem(20);
    }
  }
  &__link {
    text-decoration: none;
    display: flex;
    width: rem(270);
    height: rem(100);
    align-items: center;
    justify-content: center;
    @include media-custom(1367px) {
      filter: grayscale(100%);
      transition: ease .2s;
    }
    &:hover {
      filter: grayscale(0);
      transition: ease .2s;
    }
  }
}