mixin partners
  ul.partners
    each partner in partners
      li.partners__item
        a.partners__link(href= partner.href)
          img.partners__icon(src= partner.src srcset= partner.srcRetina alt= partner.alt)
