include ../../components/btn/btn.pug

section.hero
  .container.hero__container
    h1.hero__title Авторские туры по Азии
    h4.hero__info Открой для себя Азию
    +btn('подробнее', '#')(class="btn--color--red")