include ../../components/directionTour/directionTour.pug
include ../../components/avatar/avatar.pug

mixin commentCard(src, alt, href, name, tour, title, text, date)
  article.comment-card
    .comment-card__header
      .comment-card__photo
        +avatar(src, alt)
      .comment-card__user
        a.comment-card__name(href= href)= name
        .comment-card__tegs
          +tour(tour)
    .comment-card__content
      h3.comment-card__title= title
      .comment-card__text
        p= text
      time.comment-card__date= date
