@import "../../../styles/helpers/media";

.header {
  @include media-tablet {
    height: rem(100);
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: rem(15) 0;
    @include media-tablet {
      flex-direction: row;
      padding: 0;
    }
  }
  &__menu {
    margin-bottom: rem(15);
    @include media-tablet {
      margin-right: auto;
    }
  }
  &__logo {
    margin-bottom: rem(15);
    @include media-tablet {
      margin-right: rem(66);
    }
  }
}
