extends ../layouts/default

block variables
	- const title = "Отзывы";
	- const currentUrl = './comment.html';
	- var links = [{text: 'Главная', href:'./index.html'}, {text: 'Услуги', href:'#'}];
	-
		var items = [
			{name: 'Главная', href: './index.html'},
			{name: 'Услуги', href: './service.html'},
			{name: 'Отзывы',href: './comment.html'}
		]
	- var topLineTitle = 'Отзывы'

block content
	.wrapper
		include ../../blocks/modules/top-line/top-line
		main.main
			include ../../blocks/modules/comments/comments
		include ../../blocks/modules/footer/footer