extends ../layouts/default

block variables
	- const title = "Услуги";
	- const currentUrl = '/service.html';
	- var links = [{text: 'Главная', href:'/index.html'}, {text: 'Услуги', href:'#'}];
	-
		var items = [
			{name: 'Главная', href: '/index.html'},
			{name: 'Услуги', href: '/service.html'},
			{name: 'Отзывы',href: '/page.html'}
		]

block content
	.wrapper
		include ../../blocks/modules/top-line/top-line
		main.main
			include ../../blocks/modules/services/services
			include ../../blocks/modules/inner-section/inner-section
		include ../../blocks/modules/footer/footer


block scripts
	script(src="js/pageB.js")
	script(src="js/vendor.js")
