extends ../layouts/default

block variables
	- const title = "Услуги";
	- const currentUrl = './service.html';
	- var links = [{text: 'Главная', href:'./index.html'}, {text: 'Услуги', href:'#'}];
	-
		var items = [
			{name: 'Главная', href: './index.html'},
			{name: 'Услуги', href: './service.html'},
			{name: 'Отзывы',href: './comment.html'}
		]
	- var topLineTitle = 'Услуги'
	-
		var partners = [
			{href: 'https://www.pobeda.aero/ru', src: 'img/icons/partners/pobeda.png', alt: 'логотип авиакомпании победа'},
			{href: 'https://www.s7.ru/', src: 'img/icons/partners/s7.png', alt: 'логотип авиакомпании s seven'},
			{href: 'https://sletat.ru/', src: 'img/icons/partners/lets-fly.png', alt: 'логотип слетать ру'},
			{href: 'https://www.lufthansa.com', src: 'img/icons/partners/lufthansa.png', alt: 'логотип авиакомпании люфтганза'},
			{href: 'https://www.airbaltic.com', src: 'img/icons/partners/airbaltic.png', alt: 'логотип авиакомпании эйрбалтик'},
			{href: 'https://www.flypgs.com/ru', src: 'img/icons/partners/pegasus.png', alt: 'логотип компании пегас'},
			{href: 'https://www.uralairlines.ru/', src: 'img/icons/partners/ural.png', alt: 'логотип авиакомпании уральские авиалинии'},
			{href: 'https://pegast.ru/', src: 'img/icons/partners/pegas.png', alt: 'логотип авиакомпании пегас туристик'}
		]
	-
		var serviceCards = [
			{src: 'img/content/service/waterfall.jpg', alt: 'водопад янг-бей', title: 'Водопад Янг-бей', href: '#'},
			{src: 'img/content/service/monkeys.jpg', alt: 'остров обезьян', title: 'Остров Обезьян', href: '#'}
		]

block content
	.wrapper
		include ../../blocks/modules/top-line/top-line
		main.main
			include ../../blocks/modules/services/services
		include ../../blocks/modules/inner-section/inner-section
		include ../../blocks/modules/footer/footer