.btn {
  display: inline-block;
  border-radius: 26px;
  text-transform: uppercase;
  padding: rem(18) rem(39);
  @include font-source (rem(14), 700);
  &:hover {
    box-shadow: 0px 0px 10px 0 $white;
  }
  &--color--red {
    background-color: $red;
    color: $white
  }
  &--color--white {
    background-color: $white;
    color: $red;
    border: 1px solid rgba(245, 23, 14, 0.4);
  }
}