.about {
  position: relative;
  margin-bottom: rem(45);
  &:before {
    content: '';
    display: none;
    @include media-laptop {
      display: block;
    }
    position: absolute;
    right: 54.5%;
    bottom: 13%;
    width: rem(488);
    height: rem(502);
    background-image: url('../../../img/decor/gates.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 7px;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
  &__description {
    width: rem(304);
    min-height: rem(454);
    background-image: url('../../../img/decor/mountains.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: rem(10);
    border-radius: 7px;
    @include media-tablet {
      padding: rem(70) rem(80) rem(50) rem(95);
      width: rem(780);
    }
    @include media-laptop {
      margin-left: auto;
    }
  }
  &__title {
    color: $black;
    margin-bottom: rem(5);
    @include media-tablet {
      margin-bottom: rem(28);
    }
  }
  &__text {
    margin-bottom: rem(30);
    @include media-tablet {
      margin-bottom: rem(55);
    }
  }
  &__text p {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: rem(27);
    margin-bottom: 10px;
    &::last-child {
      margin-bottom: 0;
    }
  }
}