.about {
  position: relative;
  margin-bottom: rem(45);
  &:before {
    content: '';
    display: none;
    @include media-laptop {
      display: block;
    }
    position: absolute;
    right: 54.5%;
    bottom: 13%;
    width: rem(488);
    height: rem(502);
    background-image: url('../img/decor/gates.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 7px;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
  &__description {
    min-height: rem(454);
    background-image: url('../img/decor/mountains.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 7px;
    padding: rem(50) rem(30) rem(30) rem(30);
    @include media-tablet {
      padding: rem(70) rem(80) rem(50) rem(95);
      width: rem(780);
    }
    @include media-laptop {
      background-position: center top;
      margin-left: auto;
    }
    @include bg-2x {
      background-image: url('../img/decor/2x/mountains@2x.png');
    }
    @include bg-3x {
      background-image: url('../img/decor/3x/mountains@3x.png');
    }
  }
  &__title {
    color: $black;
    margin-bottom: rem(5);
    @include media-tablet {
      margin-bottom: rem(28);
    }
  }
  &__text {
    margin-bottom: rem(30);
    @include media-tablet {
      margin-bottom: rem(55);
    }
  }
  &__text p {
    margin-bottom: 10px;
    @include font-source (rem(16), 400, $black);
    &::last-child {
      margin-bottom: 0;
    }
  }
}