@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Italic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Medium.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-MediumItalic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-BlackItalic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-ExtraBold.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-LightItalic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-ThinItalic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Black.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Thin.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-Light.woff2') format('woff2'),
        url('../../fonts/subset-AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../fonts/AlegreyaSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/AlegreyaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

