@function rem($px) {
	@return $px / 16px + 0rem;
  }

// media

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}