extends layouts/default
include helpers/mixins

block variables
	- const title = "air-asia"

block content
	.wrapper.main-page-wrapper
		include ../blocks/modules/header/header
		main.main
			include ../blocks/modules/hero/hero
			include ../blocks/modules/tours/tours
			include ../blocks/modules/news/news

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
