extends layouts/default
include helpers/mixins

block variables
	- const title = "Air-Asia"
	- const currentUrl = './index.html'
	-
		var items = [
			{name: 'Главная', href: './index.html'},
			{name: 'Услуги', href: './service.html'},
			{name: 'Отзывы',href: './comment.html'}
		]

block content
	.wrapper.main-page-wrapper
		include ../blocks/modules/header/header
		main.main
			include ../blocks/modules/hero/hero
			include ../blocks/modules/tours/tours
			include ../blocks/modules/news/news
			include ../blocks/modules/about/about
		include ../blocks/modules/footer/footer

