include ../../components/formBtn/formBtn.pug

- const formTours = ['Остров обезьян', 'Тур по Тайланду', 'Водопад Янг-бей', 'Тур по Индонезии', 'Никакими', 'Тур по Бали', 'Другое']

form.form
  .form__row
    .form__col
      input.form__input(name='name' type='text' placeholder='Игорь Петрович')
    .form__col.form__col--mr--0
      input.form__input(name='name' type='text' placeholder='Ссылка на профиль VK')
  .form__row
    .form__col.form__col--mr--0
      textarea.form__textarea(name='comment' placeholder='Напишите свой честный отзыв ;)')
  .form__row
    .form__text Какими услугами компании пользуетесь?
    ul.form__list
      each tour in formTours
        li.form__item
          label.form__check
            input.form__check-input(type="checkbox" name="tegs" id="")
            span.form__check-text= tour
  .form__row.form__row--btn
    .form__btn
      +formBtn('Очистить')(class='form-btn--black')
    .form__btn
      +formBtn('Отправить')(class='form-btn--red')



