extends ../layouts/default

block variables
	- const title = "Отзывы";
	- const currentUrl = './comment.html';
	- const links = [{text: 'Главная', href:'./index.html'}, {text: 'Услуги', href:'#'}];
	-
		const items = [
			{name: 'Главная', href: './index.html'},
			{name: 'Услуги', href: './service.html'},
			{name: 'Отзывы',href: './comment.html'}
		]
	- const topLineTitle = 'Отзывы'
	-
		const commentCards = [
			{src:'img/content/comments/ginger.jpg', srcRetina:'img/content/comments/2x/ginger@2x.png 1.25x, img/content/comments/3x/ginger@3x.png 2.25x', alt:'аватарка пользователя', href:'#', name:'Иван Петрович', tour:'Водопад Янг-бей', title:'Крутой поход на водопады', text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.', date:'Ноябрь 2019'},
			{src:'img/content/comments/liza.jpg', srcRetina:'img/content/comments/2x/liza@2x.png 1.25x, img/content/comments/3x/liza@3x.png 2.25x', alt:'аватарка пользователя', href:'#', name:'Лиза Сидорова', tour:'Тур по Тайланду', title:'Интересный тур по Таю', text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.', date:'Ноябрь 2019'},
			{src:'img/content/comments/girl.jpg', srcRetina:'img/content/comments/2x/girl@2x.png 1.25x, img/content/comments/3x/girl@3x.png 2.25x', alt:'аватарка пользователя', href:'#', name:'Екатерина Жмых', tour:'Тур на Остров обезьян', title:'Очень понравился тур на остров обезьян.', text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.', date:'Ноябрь 2019'},
			{src:'img/content/comments/guy.jpg', srcRetina:'img/content/comments/2x/guy@2x.png 1.25x, img/content/comments/3x/guy@3x.png 2.25x', alt:'аватарка пользователя', href:'#', name:'Антон Игоревич', tour:'Тур по Индонезии', title:'Для первого раза выбрал тур по Индонезии. И не пожалел!', text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.', date:'Ноябрь 2019'}
		]

block content
	.wrapper
		include ../../blocks/modules/top-line/top-line
		main.main
			include ../../blocks/modules/comments/comments
		include ../../blocks/modules/inner-section/inner-section
		include ../../blocks/modules/footer/footer