@mixin font-source($size: false, $weight: false, $color: false, $lh: false) {
  @if $size { font-size: $size; }
  @if $weight { font-weight: $weight; }
  @if $color { color: $color; }
  @if $lh { line-height: $lh; }
}

/* @2x Images (Pixel Ratio of 1.25+) */

@mixin bg-2x {
  @media only screen and (-o-min-device-pixel-ratio: 5/4),
  only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 1.25dppx) {
    @content;
  }
}

/* @3x Images (Pixel Ratio of 2.25+) */

@mixin bg-3x {
  @media only screen and (-o-min-device-pixel-ratio: 9/4),
  only screen and (-webkit-min-device-pixel-ratio: 2.25),
  only screen and (min--moz-device-pixel-ratio: 2.25),
  only screen and (min-device-pixel-ratio: 2.25),
  only screen and (min-resolution: 2.25dppx) {
    @content;
  }
}