section.firstscreen-section
    .container.firstscreen-section__container
        header.header.firstscreen-section__header
            .header__logo
                .logo вв
            .header__menu
                include ./nav.pug
            .header__socials
                include ./socials.pug
                +socials("header")
        .firstscreen-section__heading
            .heading
                h1.heading__name Вячеслав Волков
                .heading__desc Личный сайт веб-разработчика
        .firstscreen-section__scroll    
            a(href="#aboutme-section").scroll Скролл