footer.footer
    .container.footer__container
        .footer__column_left
            .footer__year &copy; 2020
            .footer__name
                .footer__fio вячеслав волков
                .footer__desc Личный сайт веб-разработчика
        .footer__column_right
            include nav.pug
            .footer__content
                .footer__content_left
                    .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    +socials("footer")
                .footer__content_right
                    .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__quote_author Martin Golding