section.form#form
    .container.form__container   
        h2.title.form__title Связаться со мной
        form(method='POST' enctype="multipart/form-data").form__box.js-form
            .form__col
                .form__row
                    .form__col
                        label.form__label
                            .form__error 
                            input(required, name="name", type="text").form__input  
                            +icon("user", "form__icon")
                            .form__text.text Введите ваше имя
                                     
                    .form__col
                        label.form__label
                            .form__error
                            input(required, name="email", type="email").form__input
                            +icon("envelope", "form__icon")
                            .form__text.text Введите ваше email            
                .form__row.form__row--textarea
                    .form__col
                        label.form__label
                            .form__error 
                            textarea(required, name="message").form__textarea.form__input
                            +icon("message", "form__icon form__icon--textarea")
                            .form__text.form__text--textarea.text Сообщение к письму         
                .form__row
                    .form__col.form__col--btn
                        button(type="submit").form__btn.form-button.js-form-btn отправить