header.header.js-header
    .container.header__container
        .header__logo
            include logo.pug
        .header__menu
            include nav.pug
        .header__socials
            include socials.pug
            +socials("header")
        .header__mobile-menu
            include nav-mobile.pug
                    


