nav.nav-mobile
    a.nav-mobile__btn
        .nav-mobile__icon
    .nav-mobile__container
        ul.nav-mobile__list
            li.nav-mobile__item
                a.nav-mobile__link Главная
            li.nav-mobile__item
                a.nav-mobile__link Обо мне
            li.nav-mobile__item
                a.nav-mobile__link Навыки
            li.nav-mobile__item
                a.nav-mobile__link Работы
            li.nav-mobile__item
                a.nav-mobile__link Отзывы
            li.nav-mobile__item
                a.nav-mobile__link Связаться
        include socials.pug
        +socials("header")     

