nav.nav
    - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
    - var link =["#main", "#about", "#skills", "#slider", "#reviews", "#form"]
    ul.nav__list
        each item, index in menu
            li.nav__item.text
                a(href=`${link[index]}`).nav__link.js-link #{item}