.parallax-leaf
    +image("content/railway/leaf-one.png", "paralax-leaf__leaf-one", "", "presentation")
    +image("content/railway/leaf-two.png", "paralax-leaf__leaf-two", "", "presentation")
    +image("content/railway/leaf-three.png", "paralax-leaf__leaf-three", "", "presentation")
    +image("content/railway/leaf-four.png", "paralax-leaf__leaf-four", "", "presentation")