.paralax
    .paralax__layer.paralax__layer--sky
        +image("content/paralax/paralax-sky.png", "paralax__image", "", "presentation")
    .paralax__layer.paralax__layer--mountains
        +image("content/paralax/paralax-mountains.png", "paralax__image", "", "presentation")
    .paralax__layer.paralax__layer--train
        +image("content/paralax/paralax-train.png", "paralax__image", "", "presentation")
    .paralax__layer.paralax__layer--grass
        +image("content/paralax/paralax-grass.png", "paralax__image", "", "presentation")
    .paralax__layer.paralax__layer--shadow
        +image("content/paralax/paralax-shadow.png", "paralax__image", "", "presentation")
    .paralax__layer.paralax__layer--about
        +image("content/about/about-bg.png", "paralax__image", "", "presentation")