.parallax-leaf.js-leaf-area
    .parallax-leaf__layer.parallax-leaf__layer--one.js-parallax-layer(data-speed='0.5')
        +image("content/parallax-leaf/parallax-leaf_one.png", "parallax-leaf__image", "", "presentation")
    .parallax-leaf__layer.parallax-leaf__layer--two.js-parallax-layer(data-speed='1')
        +image("content/parallax-leaf/parallax-leaf_two.png", "parallax-leaf__image", "", "presentation")
    .parallax-leaf__layer.parallax-leaf__layer--three.js-parallax-layer(data-speed='2.5')
        +image("content/parallax-leaf/parallax-leaf_three.png", "parallax-leaf__image", "", "presentation")
    .parallax-leaf__layer.parallax-leaf__layer--four.js-parallax-layer(data-speed='3.5')
        +image("content/parallax-leaf/parallax-leaf_four.png", "parallax-leaf__image", "", "presentation")