.paralax
    +image("content/paralax/paralax-sky.png", "paralax__sky", "", "presentation")
    +image("content/paralax/paralax-mountains.png", "paralax__mountains", "", "presentation")
    +image("content/paralax/paralax-train.png", "paralax__train", "", "presentation")
    +image("content/paralax/paralax-grass.png", "paralax__grass", "", "presentation")