.paralax
    +image("content/firstscreen/paralax-mountains.png", "paralax__mountains", "", "presentation")
    +image("content/firstscreen/paralax-train.png", "paralax__train", "", "presentation")
    +image("content/firstscreen/paralax-grass.png", "paralax__grass", "", "presentation")