.parallax-promo.js-promo-area
    .parallax-promo__layer.parallax-promo__layer--sky
        +image("content/parallax-promo/parallax-sky.png", "parallax-promo__image", "", "presentation")
    .parallax-promo__layer.parallax-promo__layer--mountains.js-parallax-layer(data-speed='1.5')
        +image("content/parallax-promo/parallax-mountains.png", "parallax-promo__image", "", "presentation")
    .parallax-promo__layer.parallax-promo__layer--train.js-parallax-layer(data-speed='2')
        +image("content/parallax-promo/parallax-train.png", "parallax-promo__image", "", "presentation")
    .parallax-promo__layer.parallax-promo__layer--grass.js-parallax-layer(data-speed='4')
        +image("content/parallax-promo/parallax-grass.png", "parallax-promo__image", "", "presentation")
    .parallax-promo__layer.parallax-promo__layer--shadow.js-parallax-layer(data-speed='1.5')
        +image("content/parallax-promo/parallax-shadow.png", "parallax-promo__image", "", "presentation")
    .parallax-promo__layer.parallax-promo__layer--about
        +image("content/about/about-bg.png", "parallax-promo__image", "", "presentation")