.paralax
    +image("content/firstscreen/paralax-mountains.png", "paralax__mountains", "поезд")
    +image("content/firstscreen/paralax-train.png", "paralax__train", "поезд")
    +image("content/firstscreen/paralax-grass.png", "paralax__grass", "поезд")
    +image("content/firstscreen/paralax-rect.png", "paralax__rect", "поезд")