.paralax-leaf
    .paralax-leaf__layer.paralax-leaf__layer--one
        +image("content/railway/leaf-one.png", "paralax-leaf__image", "", "presentation")
    .paralax-leaf__layer.paralax-leaf__layer--two
        +image("content/railway/leaf-two.png", "paralax-leaf__image", "", "presentation")
    .paralax-leaf__layer.paralax-leaf__layer--three
        +image("content/railway/leaf-three.png", "paralax-leaf__image", "", "presentation")
    .paralax-leaf__layer.paralax-leaf__layer--four
        +image("content/railway/leaf-four.png", "paralax-leaf__image", "", "presentation")