script(type="text/x-template")#reviews-container
  section.reviews#reviews.js-section
    .container.reviews__container
      h2.title.reviews__title Что обо мне говорят
      .reviews__slider
        flickity.reviews__list(ref="flickity" :options="flickityOptions")
          .reviews__item(v-for="(review, index) in reviews" :key="index")
            review(:review="review")

script(type="text/x-template")#review
  .review
    .review__text.text 
      p {{ review.text }}
    .review__user
      .review__avatar
        img.review__photo(:src="review.photo")
      .review__user_desc
        .review__user_fio {{ review.author }}
        .review__user_position.text {{ review.occ }}
  
              