section.skills#skills.js-section
    .container.skills__container
        h2.title.skills__title Чем я могу быть полезен вам
        p.skills__description.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
        
        #skills-component

include skills-vue.pug