include ../../components/commentCard/commentCard
include ../../components/paginator/paginator

section.comments
  .container.comments__container
    ul.comments__list
      each card in commentCards
        li.comments__item
          +commentCard(card.src, card.alt, card.href, card.name, card.tour, card.title, card.text, card.date)
    +paginator(7, 1, 'color--theme--black')