.tour-card {
  color: $black;
  background-color: $white;
  border-radius: 7px;
  overflow: hidden;
  box-shadow:4px 4px 12px 0px rgba(225,225,225,.3);
  @include media-tablet{
    width: rem(360);
  }
  &__header {
    height: rem(140);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 70px 0 rgba(0, 0, 0, .5);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
    }
  }
  &__img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    padding: rem(21) rem(40) rem(33) rem(21);
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: rem(23);
    @include font-source (rem(23), 700);
  }
  &__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(25);
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: rem(42);
    @include font-source (rem(16), 400, $grey);
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: rem(26);
      height: rem(26);
      left: 5px;
      bottom: 50%;
      transform: translateY(50%);
    }
    &--feed {
      padding-left: rem(46);
      margin-right: rem(20);
    }
    &--duration:before {
      background-image: url('../img/icons/offers/calendar.png');
    }
    &--feed:before {
      background-image: url('../img/icons/offers/meal.png');
      width: rem(38);
    }
  }
  &__description {
    margin-bottom: rem(25);
    @include font-source (rem(14), 400);
  }
  &__btn {
    align-self: center;
    padding: rem(16) rem(28);
    transition: ease .5s;
    &:hover {
      background-color: $red;
      color: $white;
      transition: ease .5s;
    }
    @include media-laptop {
      align-self: flex-start;
    }
  }
}