mixin tourCard(src, alt, title, duration, feed, description, href)
  article.tour-card
    .tour-card__header
      img.tour-card__img(src= src alt= alt)
    .tour-card__content
      h3.tour-card__title= title
      ul.tour-card__details
        li.tour-card__item.tour-card__item--duration= duration
        li.tour-card__item.tour-card__item--feed= feed
      p.tour-card__description= description
      a.btn.tour-card__btn(href= href) Смотреть