.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-laptop {
    flex-direction: row;
  }
  &__img {
    width: rem(304);
    height: 330px;
    @include media-tablet {
      width: rem(458);
      margin-right: rem(57);
    }
  }
  &__img-elem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    flex: 1;
    padding-top: rem(14);
  }
  &__title {
    font-size: rem(30);
    font-weight: 700;
    margin-bottom: rem(28);
    @include media-tablet {
      font-size: rem(36);
    }
  }
  &__description {
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.7;
    color: $dark-grey;
    margin-bottom: rem(50);
  }
  &__btn {
    transition: ease .5s;
    &:hover {
      background-color: $red;
      color: $white;
      transition: ease .5s;
    }
  }
}