.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(160px); 
    padding: 1rem 0;   
    font-size: 1.125rem;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    &-white {
        color: $bluegreen;
        background-color: $white; 
    }
    &-bar {
        background-color: $green;
        color: $white;
    }
    &-clear { 
        color: $green;
        font-size: 1.125rem;
        font-weight: 500;
        background: none;
        border: none;
        margin-left: -50px;
        @include tablets {
            margin-left: 0;
        }
    } 
}




  

