.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(160px);
    height: rem(60px);  
    font-size: 1.125rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: $white;
    border-radius: 50px;
    cursor: pointer;
    border:1px solid $darkblue;
	text-shadow:0 -1px 1px rgba(0,0,0,.3);
	background: linear-gradient(180deg, $white 0%, $blue 100%);
    box-shadow:0 1px 2px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.3);
    @include tablets {
        margin: 0 auto;
    }
    &-form {
        margin: 0 10% 0 0;
    }
    &-slider {
        margin: 0;
    }  
    &:hover, &:focus{
        box-shadow:0 1px 0 rgba(255,255,255,.6), inset 0 1px 0 rgba(255,255,255,.3);
    }
    &:active{
        box-shadow:0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(25,163,214,.7);
    }
    &-green {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(15,90,71,1) 100%);
        border:1px solid $green;
        &:hover, &:focus{
            box-shadow:0 1px 0 $black, inset 0 1px 0 rgba(255,255,255,.3);
        }
        &:active{
            box-shadow:0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(29,92,51,.5);
        }
    }
    &__link {
        color: $green;
        padding: rem(18px) rem(34px) rem(14px);
        outline: none;
        &--white {
            color: $white;
        } 
    }
    &-footer {
        padding: 1rem 0;
        color: $white;
        background-color: $green;
    }
    &-clear { 
        color: $green;
        font-size: 1.125rem;
        font-weight: 500;
        background: none;
        border: none;
    } 
}




  

