.header {
    position: absolute;
    width: 100vw;
    padding-top: 1%;
    z-index: $z-fixed-menu;
    @include tablets {
        padding-top: 0.8%;
    }
    @include phones {
        padding: 4%;
    }
    &__container {
        justify-content: space-between;
        flex-direction: row;
    }
  }

.logo {
    color: $white;
    font-family: 'Museo Sans';
    font-size: rem(24px);
    text-transform: uppercase;
    &__top {
        margin-bottom: -20%;
    }
}

