.nav {
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        padding: 15px 0;
        font-size: 1.125rem;
        font-weight: 400;
        color: $white;
    }
    @include tablets {
        display: none;
    }
}


  
 