.section-reviews {
    @include tablets {
       padding: 8% 17%;
    }
    @include phones {
        padding: 8% 3%;
    }
    position: relative;
    &__container {
        position: relative;
    }
    &__strawberry {
        position: absolute;
        top: 0;
        right: -6%;
        @include tablets {
            top: -5%;
            right: -40%;
        }
        @include phones {
            width: 25%;
            right: -5%;
            top: 0;
        }
    }
    &__berries_teams {
        position: absolute;
        left: 0;
        bottom: -17%;
        z-index: 10;
        @include phones {
            width: 20%;
        }
    }
}    

.review {    
    &-wrapper {
        position: relative;
        margin: 3% 0;
        background-color: $lightblue;
        padding: 5% 20% 5% 6%;
        background-image: url(../../img/reviews/bg_berries.png);
        background-repeat: no-repeat;
        background-position: right top;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: rem(90px);
            height: rem(90px);
            border-radius: 50%;
            background-color: $white;
            top: -18%;
            left: 50%;
            transform: translateX(-50%);
            @include tablets {
                top: -10%;
            }
        }
        @include tablets {
            padding: 5%;
        }
    }
    &__item {
        display: flex;
        @include tablets {
            flex-direction: column;
            align-items: center;
        }
    }
    &__photo {
        width: rem(254px);
        margin-right: 2.5%;
        @include tablets {
           margin-top: 15%; 
           margin-right: 0;
        }
    }
    &__img {
        object-fit: cover;
        object-position: center;
        @include tablets {
            width: rem(210px);
            height: rem(210px); 
        }
    }
    &__description {
        @include tablets {
            margin-top: 3%;
        }
    }
    &__title {     
        color: $lightgrey;
        font-size: rem(30px);
        font-weight: 500;
        margin-bottom: 5%;
        @include tablets {
            text-align: center;
            
        }
    }
    &__text {
        margin-bottom: 5%;
        color: $grey;
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(22px);
        @include tablets {
            text-align: center;
            margin-top: 3%;
        }
    }
    &__name {
        @extend .review__text;
        font-weight: 500;
    }
    &__list-bottom {
        display: flex;
        justify-content: center;
        @include tablets {
            margin-top: 12%;
        }
    }
    &__item-bottom {
        margin-right: 5%;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
    &__photo-bottom {
        display: block;
        width: rem(70px);
        height: rem(70px);
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid transparent;
        &:hover {
            border: 5px solid $green;  
        }
        @include tablets {
            width: rem(84px);
            height: rem(84px);
        }
    }
    &__img-bottom {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }
}


   
   
