.section-team {
    position: relative;
    @include tablets {
        padding: 6% 0 8%;
    }
    &__container {
        height: 100vh;
        min-height: rem(650px);
        @include tablets {
            height: auto;
        }
    }
    &__blueberry {
        position: absolute;
        right: 0;
        top: -27%;
        @include tablets {
            width: 20%;
        }
    }
    &__berry {
        position: absolute;
        bottom: -5%;
        left: 10%;
        z-index: 1;
        @include tablets {
            width: 10%;
            left: 6%;
            bottom: -4%;
        }
    }  
    &__wrapper {
        margin-top: 5%;
    }  
}

.team {
        width: rem(940px);
        display: flex;
        justify-content: space-between;
        @include tablets {
            flex-wrap: wrap;
            padding: 0 18%;
        }
        @include phones {
            padding: 0 32%;
        }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include tablets {
            width: 50%;
        }
    }
    &__photo {   
        overflow: hidden; 
        width: rem(220px);
        height: rem(290px);
        @include phones {
            width: rem(150px);
            height: rem(180px);
        }
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        transition: .5s;
        &:hover {
            transform: scale(1.3); 
        }
    }
    &__post {
        position: absolute;
        height: 0;
        overflow: hidden; 
        
    }
    &__name {
        margin-top: 7%;
        color: $lightgrey;
        font-size: rem(21px);
        font-weight: 500;
        position: relative;
        &--active {
            .team__svg--down {
                display: inline;
            }
            .team__svg {
                display: none;
            }
            .team__post {
                overflow: visible;
                @include tablets {
                    margin: 0 auto;
                    position: static;
                    height: auto;
                }
            }
        }
    }
    &__position {
        text-align: center;
    }   
    &__responsibilities {
        text-align: center;
    }
    &__position {
        color: $lightgrey;
        font-size: rem(21px);
        font-weight: 400;
    } 
    &__responsibilities {
        color: $grey;
        font-size: rem(21px);
        font-weight: 300;
    }
    &__svg {
        &--down {
            display: none;
        }
    }
}
