.section-why {
    background-image: url(../img/why/grey_leaf.png);
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-size: rem(250px);
    position: relative;
    @include tablets {
        background-size: rem(150px);
    }
    &__container {
        position: relative;
    }
    &__text {
        text-align: center;
        color: $grey;
        font-size: rem(18px);
        font-weight: 400;
        margin-bottom: 5%;
        padding: 0 28%;
        @include tablets {   
            margin-bottom: 2%;
            padding: 0 20%;
        }
        @include phones {
            padding: 0;
        }
    }

.why {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; 
        &:last-child {
            margin-right: 0;
            &::after {
                display: none;
            }   
        }
        @include tablets {
            margin-bottom: 4%;
        }
        @include phones {
            flex-direction: row;
            margin-bottom: 8%;
        } 
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../img/why/points.png);
            background-repeat: no-repeat;
            top: 20%;
            left: 88%;
            @include tablets {
                display: none;
            }  
        }
    }
    &__logo {
        width: rem(125px);
        height: rem(125px);
        margin-bottom: 8%;
        background-color: $why_grey;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablets {
            margin-bottom: 4%;
        }
        @include phones {
            width: rem(80px);
            height: rem(80px);
            margin-bottom: 0;
        } 
    }
    &__desc {
        text-align: center;
        @include phones {
           width: 80%;
        }
    }
    &__svg {
        width: rem(70px);
        height: rem(70px);
        fill: none;
        stroke: $black;
        stroke-width: 0.5;
        stroke-miterlimit: 10;
        @include phones {
            width: rem(50px);
            height: rem(50px);
        }
    }
    &__title {
        margin-bottom: 5%;
        color: $black;
        font-size: rem(27px);
        font-weight: 700;
        @include tablets {
            margin-bottom: 0;
        } 
    }
    &__text {
        color: $grey;
        font-size: rem(18px);
        font-weight: 300;
        text-align: center;
        padding: 0 7%;
        @include tablets {
            padding: 0 23%;
        }
        @include phones {
            padding: 0 5%;
        }
    }     
    &__raspberry {
        position: absolute;
        left: 0;
        bottom: -12%;
            @include tablets {
                width: 20%;
                bottom: -7%;
            }
        }
    }   
}