.paginator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media-tablet {
    flex-direction: row;
  }
  &__display {
    margin-right: 0;
    font-size: rem(16);
    font-weight: 400;
    @include media-tablet {
      margin-right: rem(23);
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-right: rem(10);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &_active {
      border-radius: 50%;
      width: rem(32);
      height: rem(32);
      &.color--theme--white {
        background-color: $white;
        color: $red;
      }
      &.color--theme--black {
        background-color: $red;
        color: $white;
      }
    }
  }
  &__link {
    padding: 5px 10px;
    font-weight: 700;
    font-size: rem(16);
  }
}