-var i = 0

mixin paginator(amount, active, theme)
  .paginator
    .paginator__display Страница 1 из #{amount}
    ul.paginator__list
      - for (var index = 1; index <= amount; index++)
        if (index === active)
          li.paginator__item.paginator__item--active(class= theme)
            a.paginator__link(href= href)= ++i
        else
          li.paginator__item
            a.paginator__link(href= href)= ++i