.comment-card {
  border-radius: 4px;
  background-color: $snowy;
  padding: rem(15);
  @include media-tablet {
    width: rem(555);
    padding: rem(45) rem(29) rem(33) rem(25);
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(30);
    @include media-tablet {
      flex-direction: row;
    }
  }
  &__photo {
    margin-bottom: rem(10);
    @include media-tablet {
      margin-bottom: 0;
    }
  }
  &__user {
    padding-left: rem(20);
  }
  &__name {
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin-bottom: rem(20);
    @include font-source (rem(24), 700, $blue);
    &::after {
      content: url('../img/icons/socials/vk-blue.png');
      height: rem(30);
      padding-left: 8px;
    }
    @include media-tablet {
      margin-bottom: rem(10);
    }
  }
  &__tegs {
    text-align: center;
    @include media-tablet {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  &__title {
    color: $graphite;
    font-weight: 700;
    margin-bottom: rem(25);
    text-align: center;
    @include font-source (rem(25), 700, $graphite);
    @include media-tablet {
      text-align: left;
      font-size: rem(30);
    }
  }
  &__text {
    line-height: 27px;
    margin-bottom: rem(50);
    @include font-source (rem(16), 400, $pearl-dark-gray);
  }
  &__date {
    color: $graphite;
    font-size: 14px;
    font-weight: 400;
    @include font-source (rem(14), 400, $graphite);
  }
}