@font-face{
	font-family: 'digital';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/digital-7.ttf') format('truetype');
	}

@font-face{
	font-family: 'roboto';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	}