//color
$white: #fff;
$black: #000;
$lightgrey: #d1d1d1;
$blue: #abefff;
$lightblue: #d8f7ff;
$pink: #ffa8a8;
$lightpink: #ffd4d4;

@import "./normalize.scss";
@import "./fonts.scss";
@import "./base.scss";
@import "./style.scss";




