.player {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  &__splash {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/video/video_bg.png");
    background-position:  center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__wrapper {
    &.active .player__splash {
      display: none;
    }
  }
  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    background: $lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
  }
  &__start {
    width: 14px;
    height: 0;
    border: 12px solid transparent;
    border-left-color: $white;
    padding: 0;
    border-right-width: 0;
    background: transparent;
    outline: none;
    position: relative;
    cursor: pointer;
    &.paused {
      width: 14px;
      height: 22px;
      border: none;
      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        top: 0;
        bottom: 0;
        background: $white;
      }
      &:after {
        right: 0;
      }
      &:before {
        left: 0;
      }
    }
  }
  &__duration {
    color: $white;
    font-weight: bold;
  }
  &__volume {
    display: flex;
    align-items: center;
      &--button {
        background: #626262;
        border-radius: 50px;
        border: none;
        width: 12px;
        height: 12px;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -4px;
      }
      &--icon  {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-right-color: #626262;
        padding: 0;
        border-left-width: 0;
        background: transparent;
        outline: none;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
          &::before {
            content: "";
            background: #626262;
            border-radius: 50px;
            border: none;
            width: 10px;
            height: 10px;
            padding: 0;
            position: absolute;
            top: -5px;
            right: -8px;
          }  
      }
      &--progress {
        width: 60px;
        height: 4px;
        -webkit-appearance: none;
        background: #ccc;
          &::-webkit-slider-thumb {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            -webkit-appearance: none;
          }
      }
  } 
  &__progress {
    display: flex;
    align-items: center;
  }
  &__progressline {
    height: 4px;
    width: 350px;
    -webkit-appearance: none;
    background: #ccc;
      &::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
      }
  }
}

.muted.player__volume--icon::after {
  content: "\2718";
  position: absolute;
  transform: scale(1.5);
  top: -8px;
}





