.news {
  margin-bottom: rem(15);
  @include media-tablet {
    margin-bottom: rem(100);
  }
  @include media-laptop {
    margin-bottom: rem(240);
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: rem(34);
    @include media-tablet {
      flex-wrap: wrap;
      flex-direction: row;
      margin-left: -15px;
      margin-right: -15px;
    }
    @include media-laptop {
      margin-bottom: rem(4);
    }
  }
  &__item {
    margin-bottom: rem(30);
    @include media-tablet {
      margin-right: 15px;
      margin-left: 15px;
    }
    @include media-laptop {
      &:hover {
        .news-card::after {
          transform: translateY(-10%);
        }
        .news-card {
          transform: skewY(-1deg);
          box-shadow:8px 4px 15px 0px rgba(225,225,225,.1);
          transition: ease .2s;
        }
      }
    }
  }
  &__title {
    margin-bottom: rem(50);
  }
}


