include ../../components/page-title/page-title
include ../../components/breadcrumbs/breadcrumbs

section.top-line
  include ../../../blocks/modules/header/header
  .container.top-line__container
    +page-title('Услуги')
    +breadcrumbs