include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      header.header
        .container.header__container
          .logo вв
          nav.nav
            ul.nav__list
              li.nav__item 
                a.nav__link(href="#") Главная
              li.nav__item
                a.nav__link(href="#") Обо мне
              li.nav__item
                a.nav__link(href="#") Навыки
              li.nav__item
                a.nav__link(href="#") Работы  
              li.nav__item
                a.nav__link(href="#") Отзывы
              li.nav__item
                a.nav__link(href="#") Связаться
          ul.network
            li.network__item
              a.network__link(href="#")
                +icon("insta", "network__img")
            li.network__item
              a.network__link(href="#")
                +icon("vk", "network__img")
            li.network__item
              a.network__link(href="#")
                +icon("github", "network__img")
      .main        
        .welcome
          .paralax
            +image("content/firstscreen/paralax-mountains.png", "paralax__mountains")
            +image("content/firstscreen/paralax-train.png", "paralax__train")
            +image("content/firstscreen/paralax-grass.png", "paralax__grass")
            +image("content/firstscreen/paralax-rect.png", "paralax__rect")
          section.firstscreen
            .container.firstscreen__container
              .heading
                h1.heading__name Вячеслав Волков
                .heading__desc Личный сайт веб разработчика
              .scroll
                .scroll__text Скролл
                +image("content/firstscreen/scroll.png", "scrool__img")
          section.aboutme
            .container.aboutme__container
              .about
                .about__column_left
                  .about__avatar
                    .about__foto
                      +image("content/firstscreen/avatar.jpg", "about__img")
                  .about__list
                    li.about__list_question
                      ul.about__item_question Проживаю:
                      ul.about__item_question Возраст:
                      ul.about__item_question Родился:
                    li.about__list_answer  
                      ul.about__item_answer Москва
                      ul.about__item_answer 38 лет
                      ul.about__item_answer 5 февраля 1981
                .about__column_right        
                  .about__hello Привет, меня зовут
                  h2.title.about__title Вячеслав Волков
                  .about__text_aboutme Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__text_aboutsite Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.myskills
          .container.myskills__container
            +image("content/skills/hands.png", "myskills__img")
            h2.title.myskills__title Чем я могу быть полезен вам
            .myskills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills
              .skills__frontend
                .skills__text Front-end
                  ul.skills__list_frontend
                    li.skills__item_frontend.skills__item_frontend--border
                      .skills__desc HTML
                    li.skills__item_frontend
                      .skills__desc CSS3
                    li.skills__item_frontend
                      .skills__desc Javascript
                    li.skills__item_frontend
                      .skills__desc Jquery и Vue.js
                .skills__text Workflow  
                  ul.skills__list_workflow
                    li.skills__item_workflow GIT
                    li.skills__item_workflow Terminal
                    li.skills__item_workflow Gulp
                    li.skills__item_workflow Webpack
              .skills__workflow
        section.myworks
          .container.myworks__container
            h2.title.myworks__title Мои работы
            .works
              .works__preview
                ul.works__list_preview
                  li.works__item_preview
                    +image("content/works/preview-snow.png", "works__image")
                  li.works__item_preview
                  li.works__item_preview
                  li.works__item_preview
                ul.works__list_miniature
                  li.works__item_miniature.works__item_miniature--active
                    +image("content/works/miniature-snow.png", "works__image")
                  li.works__item_miniature
                    +image("content/works/miniature-home.png", "works__image")
                  li.works__item_miniature
                    +image("content/works/miniature-car.png", "works__image")
                  li.works__item_miniature
                    +image("content/works/miniature-mountains.png", "works__image")
              .works__desc
                ul.works__list_skills
                  li.works__item_skills
                    .works__item_text HTML
                  li.works__item_skills
                    .works__item_text CSS
                  li.works__item_skills
                    .works__item_text Javascript
                .works__subtitle Сайт школы образования
                .works__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.works__link(href="#")
                  +icon("link", "works__link_icon")
                  .works__link_text Посмотреть сайт
        .railway
          .container.railway__container
            .parallax-leaf
            section.section-reviews
              h2.title.section-reviews__title Что обо мне говорят
              .reviews
                ul.reviews__list
                  li.reviews__item
                    +icon("quote", "reviews__icon")
                    .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__user
                      .reviews__avatar
                        +image("content/railway/dima.png", "reviews__image")
                      .reviews__user_desc
                        .reviews__user_fio Ковальчук Дмитрий
                        .reviews__user_position Основатель LoftSchool
                  li.reviews__item
                    +icon("quote", "reviews__icon")
                    .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .reviews__user
                      .reviews__avatar
                        +image("content/railway/vladimir.png", "reviews__image")
                      .reviews__user_desc
                        .reviews__user_fio Владимир Сабанцев
                        .reviews__user_position Преподаватель
            section.section-form   
              h2.title.section-form__title Связаться со мной
              form(action="post", enctype="multipart/form-data").form#form
                .form__col
                  .form__row
                    .form__col
                      +icon("user", "form__icon")
                      label.form__label
                        span.form__text Введите ваше имя
                        input(required, name="name", type="text").form__input       
                    .form__col
                      +icon("envelope", "form__icon")
                      label.label
                        span.form__text Введите ваше email
                        input(required, name="email", type="email").form__input 
                  .form__row.form__row--textarea
                    .form__col
                      +icon("message", "form__icon form__icon--textarea")
                      label.label
                        span.form__text.form__text--textarea Сообщение к письму
                        textarea(name="message", type="text").form__textarea.form__input  
                  .form__row
                    .form__col
                      buttom.form__btn отправить
        footer.footer
          .container.footer__container
            .footer__column_left
              .footer__year &copy; 2020
              .footer__name
                .footer__fio вячеслав волков
                .footer__desc Личный сайт веб-разработчика
            .footer__column_right
              nav.nav
                ul.nav__list
                  li.nav__item 
                    a.nav__link(href="#") Главная
                  li.nav__item
                    a.nav__link(href="#") Обо мне
                  li.nav__item
                    a.nav__link(href="#") Навыки
                  li.nav__item
                    a.nav__link(href="#") Работы  
                  li.nav__item
                    a.nav__link(href="#") Отзывы
                  li.nav__item
                    a.nav__link(href="#") Связаться
              .footer__content
                .footer__content_left
                  .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  ul.network
                    li.network__item.network__item--footer
                      a.network__link.network__link--border(href="#")
                        +icon("insta", "network__img")
                    li.network__item.network__item--footer
                      a.network__link.network__link--border(href="#")
                        +icon("vk", "network__img")
                    li.network__item.network__item--footer
                      a.network__link.network__link--border(href="#")
                        +icon("github", "network__img")
                .footer__content_right
                  .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__quote_author Martin Golding

          
    
     
      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg
        