include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      header.header
        .container.header__container
          .logo вв
          nav.nav
            ul.nav__list
              li.nav__item 
                a.nav__link(href="#") Главная
              li.nav__item
                a.nav__link(href="#") Обо мне
              li.nav__item
                a.nav__link(href="#") Навыки
              li.nav__item
                a.nav__link(href="#") Работы  
              li.nav__item
                a.nav__link(href="#") Отзывы
              li.nav__item
                a.nav__link(href="#") Связаться
          ul.network
            li.network__item
              a.network__link(href="#")
                +icon("insta", "network__img")
            li.network__item
              a.network__link(href="#")
                +icon("vk", "network__img")
            li.network__item
              a.network__link(href="#")
                +icon("github", "network__img")
      .main        
        .welcome
          .paralax
            +image("content/firstscreen/paralax-mountains.png", "paralax__mountains")
            +image("content/firstscreen/paralax-train.png", "paralax__train")
            +image("content/firstscreen/paralax-grass.png", "paralax__grass")
            +image("content/firstscreen/paralax-rect.png", "paralax__rect")
          section.firstscreen
            .container.firstscreen__container
              .heading
                h1.heading__name Вячеслав Волков
                .heading__desc Личный сайт веб разработчика
              .scroll
                .scroll__text Скролл
                +image("content/firstscreen/scroll.png", "scrool__img")
          section.aboutme
            .container.aboutme__container
              .about
                .about__desc
                  .about__avatar
                    .about__foto
                      +image("content/firstscreen/avatar.jpg", "about__img")
                  .about__list
                    li.about__list_question
                      ul.about__item_question Проживаю:
                      ul.about__item_question Возраст:
                      ul.about__item_question Родился:
                    li.about__list_answer  
                      ul.about__item_answer Москва
                      ul.about__item_answer 38 лет
                      ul.about__item_answer 5 февраля 1981
                .about__text
                  .about__hello Привет, меня зовут
                  h2.title.about__title Вячеслав Волков
                  .about__text_aboutme Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__text_aboutsite Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.myskills
          .container.myskills__container
            +image("content/skills/hands.png", "myskills__img")
            h2.title.myskills__title Чем я могу быть полезен вам
            .myskills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills
              .skills__frontend
                .skills__text Front-end
                  ul.skills__list_frontend
                    li.skills__item_frontend.skills__item_frontend--border
                      .skills__desc HTML
                    li.skills__item_frontend
                      .skills__desc CSS3
                    li.skills__item_frontend
                      .skills__desc Javascript
                    li.skills__item_frontend
                      .skills__desc Jquery и Vue.js
                .skills__text Workflow  
                  ul.skills__list_workflow
                    li.skills__item_workflow GIT
                    li.skills__item_workflow Terminal
                    li.skills__item_workflow Gulp
                    li.skills__item_workflow Webpack
              .skills__workflow
      
        
    
     
      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg
        