include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      include ./components/header.pug
      main.main        
        .welcome
          include ./components/paralax.pug
          include ./components/promo.pug
          include ./components/about.pug
        include ./components/skills.pug
        include ./components/slider.pug
        .railway
          include ./components/paralax-leaf.pug
          include ./components/reviews.pug
          include ./components/form.pug
      include ./components/footer.pug
