.footer {
  @include media-laptop {
    height: rem(152);
    padding-bottom: 20px;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $grey;
    padding: rem(15) 0;
    @include media-laptop {
      flex-direction: row;
    }
  }
  &__logo {
    margin-bottom: rem(15);
    @include media-laptop {
      margin-bottom: 0;
    }
  }
  &__menu {
    margin-bottom: rem(15);
    @include media-laptop {
      margin-right: rem(215);
      margin-bottom: 0;
    }
  }
  &__socials {
    margin-bottom: rem(15);
    @include media-laptop {
      margin-bottom: 0;
    }
  }
  &__text {
    text-align: center;
    @include font-source (rem(11), 400);
    @include media-tablet {
      text-align: right;
    }
  }
}