include ../../components/logo/logo.pug
include ../../components/menu/menu.pug
include ../../components/phone/phone.pug

-
  var socials = [
    {icon:'socials__link--telegram', href: 'https://telegram.org'},
    {icon:'socials__link--vk', href: 'https://vk.com'},
    {icon:'socials__link--facebook', href: 'https://facebook.com'},
    {icon:'socials__link--instagram', href: 'https://instagram.com'}
  ]

footer.footer
  .container.footer__container
    .footer__logo
      +logo('../../../img/logo.png')
    .footer__menu
      +menu('Главная', 'Услуги', 'Отзывы')
    .footer__socials
      +socials
    .footer__phone
      +phone('+78007003030', '8 800 700 30 30')


