.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-laptop {
    flex-direction: row;
  }
  &__img {
    width: rem(304);
    height: 330px;
    @include media-tablet {
      width: rem(458);
    }
    @include media-laptop {
      margin-right: rem(57);
    }
  }
  &__img-elem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    flex: 1;
    padding-top: rem(14);
    display: flex;
    flex-direction: column;
  }
  &__title {
    align-self: center;
    margin-bottom: rem(28);
    @include font-source (rem(30), 700);
    @include media-tablet {
      font-size: rem(36);
    }
    @include media-laptop {
      align-self: flex-start;
    }
  }
  &__description {
    margin-bottom: rem(50);
    @include font-source (rem(16), 400, $dark-grey, 1.7);
  }
  &__btn {
    align-self: center;
    transition: ease .5s;
    &:hover {
      background-color: $red;
      color: $white;
      transition: ease .5s;
    }
    @include media-laptop {
      align-self: flex-start;
    }
  }
}