.section-menu {
    background-image: url(../img/menu/bg_menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
}

.title-menu {
    color: $white;
    position: absolute;
    top: 3%;
    left: 5%;
    @include phones {
        display: none;
   } 
}

.accordeon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    &__list {
        display: flex;
        &--active {
            .accordeon__item {
                @include phones {
                    display: none;
                }
            }
            .accordeon__item--active {
                display: flex;
            }
        }
    }
    &__item {
        display: flex;
        &--active {
            .accordeon__content {
                max-width: 50vh;
                @include tablets {
                    max-width: 45vh;;
               }    
            }
        }          
    }
    &__content {
        overflow: hidden;
        max-width: 0;
        background-color: rgba(0,0,0,0.6);
        transition: max-width .3s;
    }
    &__btn {
        width: 10vh;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include phones {
            width: 12vh;
        } 
    }
    &__title {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0 0;
        white-space: nowrap;
        margin-top: -30%;
        color: $white;
        font-size: rem(48px);
        font-weight: 500;
    }
    &__text {
        color: $white;
        font-size: rem(16px);
        font-weight: 400;
        padding: 5%;
    }
    &__close {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        margin: 5% 5% 0 auto;
    }
    &__icon {
        width: 100%;
        height: 100%;   
        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            background: rgba(255,255,255,1);
            width: 100%;
            height: 4px;
            transition: .4s;
            top: 13px;
            border-radius: 5px;
        }
        &::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        }
        &::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        }
    } 
}




