.btn {
  border-radius: 26px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  padding: rem(18) rem(39);
  &--color--red {
    background-color: $red;
    color: $white
  }
  &--color--white {
    background-color: $white;
    color: $red;
    border: 1px solid rgba(245, 23, 14, 0.4);
  }
}