.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 95%;
}

.main-page-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bg/hero.png') center top no-repeat, url('../img/bg/bottom-pic.jpg') center bottom 10% no-repeat;
}

.title {
  font-size: rem(36);
  font-weight: 700;
}