*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #001821;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 95%;
}